@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }

    .dark .scrollbar::-webkit-scrollbar-track {
      background: #121212;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #c7c1c1;
      border-radius: 100vh;      
    }
    
    .dark .scrollbar::-webkit-scrollbar-thumb {
      background: #d6d5d5;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
    
    .dark .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #313B4A;
    }
  }